    body {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .react-modal-overlay{
        background: rgba(0, 0, 0, 0.5);

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow-y: scroll;
    }
    .react-modal-content{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 30px;
        width: 650px;
        background: #fff;
        padding: 10px 10px 0 10px;
        position: absolute;
        border-radius: 0.25rem;

        border: 6px solid rgb(118, 118, 118);

    }

    .icon-close, 
    .icon {
        background-image: url('../../public/images/sprite.png');
        background-repeat: no-repeat;
    }
